<!-- Begin Category -->
<ul id="category" class="category js-category">
  <li class="category__item">
    <img src="images/category01.jpg" alt="">
    <div class="category__title">
      <h2>Автоматизация
      <br>1C</h2>
    </div>
    <div class="category__overlay"></div>
    <div class="category__inner">
      <div class="category__title-inner">
        <h2>Автоматизация
        <br>1C</h2>
      </div>
      <div class="category__content">
        <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
      </div>
      <a href="#services" class="button button--white js-categoryBtn">
        <span>ПОДРОБНЕЕ</span>
        <i class="button__icon"></i>
      </a>
    </div>
  </li>
  <li class="category__item">
    <img src="images/category02.jpg" alt="">
    <div class="category__title">
      <h2>Бухгалтерское сопровождение</h2>
    </div>
    <div class="category__overlay"></div>
    <div class="category__inner">
      <div class="category__title-inner">
        <h2>Бухгалтерское сопровождение</h2>
      </div>
      <div class="category__content">
        <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
      </div>
      <a href="#services" class="button button--white js-categoryBtn">
        <span>ПОДРОБНЕЕ</span>
        <i class="button__icon"></i>
      </a>
    </div>
  </li>
  <li class="category__item">
    <img src="images/category03.jpg" alt="">
    <div class="category__title">
      <h2>Human 
      <br>Resource</h2>
    </div>
    <div class="category__overlay"></div>
    <div class="category__inner">
      <div class="category__title-inner">
        <h2>Human
        <br>Resource</h2>
      </div>
      <div class="category__content">
        <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
      </div>
      <a href="#services" class="button button--white js-categoryBtn">
        <span>ПОДРОБНЕЕ</span>
        <i class="button__icon"></i>
      </a>
    </div>
  </li>
  <li class="category__item">
    <img src="images/category04.jpg" alt="">
    <div class="category__title">
      <h2>Интернет маркетинг и Аналитика</h2>
    </div>
    <div class="category__overlay"></div>
    <div class="category__inner">
      <div class="category__title-inner">
        <h2>Интернет маркетинг и Аналитика</h2>
      </div>
      <div class="category__content">
        <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
      </div>
      <a href="#services" class="button button--white js-categoryBtn">
        <span>ПОДРОБНЕЕ</span>
        <i class="button__icon"></i>
      </a>
    </div>
  </li>
  <li class="category__item">
    <img src="images/category05.jpg" alt="">
    <div class="category__title">
      <h2>Information technology</h2>
    </div>
    <div class="category__overlay"></div>
    <div class="category__inner">
      <div class="category__title-inner">
        <h2>Information technology</h2>
      </div>
      <div class="category__content">
        <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.</p>
      </div>
      <a href="#services" class="button button--white js-categoryBtn">
        <span>ПОДРОБНЕЕ</span>
        <i class="button__icon"></i>
      </a>
    </div>
  </li>
</ul>
<!-- End Category -->