<!-- Begin Clients 2 -->
<div class="clients-second">
  <div class="clients-second__title-wrap">
    <div class="title">
      <h2>Наши клиенты</h2>
    </div>
  </div>
  <div class="clients-second__wrap">
    <a href="#" class="arrow arrow--left-prev js-clientsPrev"></a>
    <ul class="clients-slider js-clients">
      <li class="clients-item">
        <a href="http://www3.lenovo.com/ru/ru/" target="_blank">
          <img src="images/lenovo-logo.png" alt="lenovo">
        </a>
      </li>
      <li class="clients-item">
        <a href="https://www.asus.com/" target="_blank">
          <img src="images/asus-logo.png" alt="asus">
        </a>
      </li>
      <li class="clients-item">
        <a href="http://www.iconbit.ru/" target="_blank">
          <img src="images/iconbit-logo.png" alt="iconbit">
        </a>
      </li>
      <li class="clients-item">
        <a href="https://www.lexmark.com/" target="_blank">
          <img src="images/lexmark-logo.png" alt="lexmark">
        </a>
      </li>
      <li class="clients-item">
        <a href="http://www.toshiba.ru/" target="_blank">
          <img src="images/toshiba-logo.png" alt="toshiba">
        </a>
      </li>
      <li class="clients-item">
        <a href="https://www.microsoft.com/" target="_blank">
          <img src="images/microsoft-logo.png" alt="microsoft">
        </a>
      </li>
      <li class="clients-item">
        <a href="https://www.tinkoff.ru/" target="_blank">
          <img src="images/tinkoff-logo.png" alt="tinkoff bank">
        </a>
      </li>
      <li class="clients-item">
        <a href="https://www.tumblr.com/" target="_blank">
          <img src="images/tumblr-logo.png" alt="tumblr">
        </a>
      </li>
    </ul>
    <a href="#" class="arrow arrow--right-next js-clientsNext"></a>
  </div>
</div>
<!-- End Clients 2 -->