<!-- Begin Contacts -->
<section class="contacts">
  <div id="map" class="map"></div>
  <div class="contacts__right">
    <div class="address">
      <div class="address__text">
        <h2>Наши контакты</h2>
        <p>Уважаемые клиенты! На территории Бизнес Парка действует пропускная система. Для посещения нашего офиса необходимо заранее заказать пропуск. Так же не забудьте паспорт, его необходимо предъявить сотруднику охраны на проходной.</p>
      </div>
      <ul class="address__list">
        <li>
          <i class="address__icon">
            <img src="images/marker-black.png" alt="">
          </i>
          <span>г. Москва, 22-ой км. Киевского шоссе, Бизнес Парк Румянцево, корпус А, офисный подъезд №9, оф. 809-1а</span>
        </li>
        <li>
          <i class="address__icon">
            <img src="images/tel-black.png" alt="">
          </i>
          <a href="tel:74999590509">+7 499 959 05 09</a>
        </li>
        <li>
          <i class="address__icon">
            <img src="images/mail-black.png" alt="">
          </i>
          <a href="mailto:info@scatoll.ru">info@scatoll.ru</a>
        </li>
      </ul>
      <div class="address__text">
        <p><b>Время работы:</b>  Пн - Вс  До последнего клиента </p>
      </div>
    </div>
    <section class="ask">
      <div class="ask__wrap">
        <div class="ask__title">
          <h2>Напишите нам сообщение</h2>
        </div>
        <form action="ajax-programer.php" name="ask-form" class="ask__form js-askForm">
          <div class="ask__field-row">
            <div class="form-field">
              <input type="text" name="name" placeholder="Имя" />
            </div>
            <div class="form-field">
              <input type="email" name="email" placeholder="E-mail" required />
            </div>
          </div>
          <div class="form-field">
            <input type="text" name="message" placeholder="Текст сообщения" />
            <input type="hidden" name="page" value="Контакты">
          </div>
          <button type="submit" class="button-round">Отправить</button>
        </form>
      </div>
    </section>
  </div>
</section>
<!-- End Contacts -->