<!-- HEADER -->
<header id="header-slider" class="header-slider js-headerSlider">
  <!-- slide 1 -->
  <div class="header-slider__item">
    <div class="header-slider__bg">
      <img src="images/header-slide01.jpg" alt="">
    </div>
    <div class="header-slider__item-inner">
      <div class="logo-big">
        <img src="images/logo-big.png" alt="">
      </div>
      <div class="brand-info cfix">
        <div class="brand-info__title">
          <h1>АТОЛЛ</h1>
        </div>
        <div class="brand-info__content-wrap">
          <div class="brand-info__content">
            <div class="brand-info__subtitle">
              <h2>Точные настройки <span style="font-size:56px;font-weight:300;">вашего бизнеса</span></h2>
            </div>
            <ul class="brand-info__list">
              <li>Подбор и управление персоналом</li>
              <li>Настройка информационных систем</li>
              <li>Автоматизация закупки-продажи</li>
            </ul>
          </div>
        </div>
        <a href="#" class="button">
          <span>ПОДРОБНЕЕ</span>
          <i class="button__icon"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- slide 2 -->
  <div class="header-slider__item">
    <div class="header-slider__bg">
      <img src="images/header-slide02.jpg" alt="">
    </div>
    <div class="header-slider__item-inner">
      <div class="logo-big">
        <img src="images/logo-big.png" alt="">
      </div>
      <div class="brand-info">
        <div class="brand-info__title">
          <h1>Lorem</h1>
        </div>
        <div class="brand-info__content-wrap">
          <div class="brand-info__content">
            <div class="brand-info__subtitle">
              <h2>Lorem ipsum
              <br><span style="font-size:56px;font-weight:300;">dolor sit amet</span></h2>
            </div>
            <ul class="brand-info__list">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ul>
          </div>
        </div>
        <a href="#" class="button">
          <span>ПОДРОБНЕЕ</span>
          <i class="button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

<ul class="land-nav js-landNav">
  <li class="land-nav__item">
    <a href="#header-slider" class="active"></a>
  </li>
  <li class="land-nav__item">
    <a href="#category"></a>
  </li>
  <li class="land-nav__item">
    <a href="#services"></a>
  </li>
  <li class="land-nav__item">
    <a href="#about"></a>
  </li>
  <li class="land-nav__item">
    <a href="#clients"></a>
  </li>
  <li class="land-nav__item">
    <a href="#reviews"></a>
  </li>
  <li class="land-nav__item">
    <a href="#footer"></a>
  </li>
</ul>

