<!-- Begin News -->
<div class="news cfix">
  <div class="news__wrap">
    <ul class="news__list">
      <li class="news-item">
        <a href="news-inner.html" class="news-item__pic">
          <img src="images/news01.jpg" alt="">
        </a>
        <div class="news-item__content-wrap">
          <div class="news-item__content-inner">
            <div class="news-item__title">
              <h2>Дизайн-проект
              <br>нового отеля</h2>
            </div>
            <div class="news-item__content">
              <p>Своим появлением lorem значительно различается генераторы, создающие собственные варианты текста. Набор слов. веб-дизайнерами для вставки. О пределах добра и даже с использованием.</p>

              <p>Варианты текста на кириллический контент – написание символов. Даже с разной частотой, имеется разница в длине. Знаменитый lorem именно из. Несколько вариантов lorem демонстрационная, то и т.д применили в.</p>
            </div>
          </div>
          <a href="news-inner.html" class="news-item__link">Читать полностью</a>
        </div>
      </li>
      <li class="news-item">
        <a href="news-inner.html" class="news-item__pic">
          <img src="images/news02.jpg" alt="">
        </a>
        <div class="news-item__content-wrap">
          <div class="news-item__content-inner">
            <div class="news-item__title">
              <h2>Наш новый дизайнер</h2>
            </div>
            <div class="news-item__content">
              <p>И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов.</p>
            </div>
          </div>
          <a href="news-inner.html" class="news-item__link">Читать полностью</a>
        </div>
      </li>
      <li class="news-item">
        <a href="news-inner.html" class="news-item__pic">
          <img src="images/news03.jpg" alt="">
        </a>
        <div class="news-item__content-wrap">
          <div class="news-item__content-inner">
            <div class="news-item__title">
              <h2>Наш новый дизайнер</h2>
            </div>
            <div class="news-item__content">
              <p>И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов.</p>
            </div>
          </div>
          <a href="news-inner.html" class="news-item__link">Читать полностью</a>
        </div>
      </li>
      <li class="news-item">
        <a href="news-inner.html" class="news-item__pic">
          <img src="images/news04.jpg" alt="">
        </a>
        <div class="news-item__content-wrap">
          <div class="news-item__content-inner">
            <div class="news-item__title">
              <h2>Наш новый дизайнер</h2>
            </div>
            <div class="news-item__content">
              <p>И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов.</p>
            </div>
          </div>
          <a href="news-inner.html" class="news-item__link">Читать полностью</a>
        </div>
      </li>
    </ul>
    <div class="services-control">
      <a href="#" class="services-control__arrow services-control__arrow--prev">
        <svg version="1.1" id="Layer_1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
          <polyline class="st0" points="19.3,3.4 36,20.2 19.3,36.9 "/>
          <rect x="2" y="19.2" class="st1" width="33.5" height="1.8"/>
        </svg>
      </a>
      <div class="services-control__content">
        <span class="services-control__curent">01</span>/
        <span class="services-control__length">02</span>
      </div>
      <a href="#" class="services-control__arrow">
        <svg version="1.1" id="Layer_1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
          <polyline class="st0" points="19.3,3.4 36,20.2 19.3,36.9 "/>
          <rect x="2" y="19.2" class="st1" width="33.5" height="1.8"/>
        </svg>
      </a>
    </div>
  </div>
</div>
<!-- End News -->