<!-- Begin Project -->
<div class="project">
  <div class="project__inner">
    <ul class="project-slider js-projectSlider">
      <li>
        <div class="project-slider__left">
          <div class="project-slider__row">
            <div class="project-slider__content">
              <h3>Обучение персонала</h3>
              <p>Это пример текста, который вы можете добавить в данный блок. Текст, описывающий проект вашей компании. Например: суть проекта, основные идеи, использованные материалы и т.д.</p>
            </div>
          </div>
          <div class="project-slider__row">
            <div class="project-slider__content">
              <h3>Детали проекта</h3>
              <table>
                <tr>
                  <td>Список работ:</td>
                  <td>IT Автоматизация 1C</td>
                </tr>
                <tr>
                  <td>Автор проекта:</td>
                  <td>Андрей Стаховский</td>
                </tr>
                <tr>
                  <td>Тип помещения:</td>
                  <td>Жилое</td>
                </tr>
                <tr>
                  <td>Площадь:</td>
                  <td>300м</td>
                </tr>
                <tr>
                  <td>Бюджет проекта:</td>
                  <td>18000 руб.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="project-slider__right">
          <img src="images/progect-slide01.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="project-slider__left">
          <div class="project-slider__row">
            <div class="project-slider__content">
              <h3>2Обучение персонала</h3>
              <p>Это пример текста, который вы можете добавить в данный блок. Текст, описывающий проект вашей компании. Например: суть проекта, основные идеи, использованные материалы и т.д.</p>
            </div>
          </div>
          <div class="project-slider__row">
            <div class="project-slider__content">
              <h3>Детали проекта</h3>
              <table class="project-slider__table">
                <tr>
                  <td>Список работ:</td>
                  <td>IT Автоматизация 1C</td>
                </tr>
                <tr>
                  <td>Автор проекта:</td>
                  <td>Андрей Стаховский</td>
                </tr>
                <tr>
                  <td>Тип помещения:</td>
                  <td>Жилое</td>
                </tr>
                <tr>
                  <td>Площадь:</td>
                  <td>300м</td>
                </tr>
                <tr>
                  <td>Бюджет проекта:</td>
                  <td>18000 руб.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="project-slider__right">
          <img src="images/progect-slide01.jpg" alt="">
        </div>
      </li>
    </ul>
    <div class="services-control">
      <a href="#" class="arrow-full arrow-full--top js-projectPrev"></a>
      <div class="services-control__content">
        <span class="services-control__curent js-projectCurent">01</span>/
        <span class="services-control__length js-projectLength">02</span>
      </div>
      <a href="#" class="arrow-full arrow-full--bottom js-projectNext"></a>
    </div>
  </div>
</div>

<section class="whats-new">
  <div class="mbox">
    <div class="title">
      <h2>Другие Проекты</h2>
    </div>
    <ul class="news-list">
      <li>
        <a href="project.html" class="news-small news-small--blue">
          <img src="images/project01.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Обучение персонала</span>
          </span>
        </a>
      </li>
      <li>
        <a href="project.html" class="news-small news-small--blue">
          <img src="images/project02.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Постороение системы мотивации</span>
          </span>
        </a>
      </li>
      <li>
        <a href="project.html" class="news-small news-small--blue">
          <img src="images/project03.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Оценка персонала</span>
          </span>
        </a>
      </li>
      <li>
        <a href="project.html" class="news-small news-small--blue">
          <img src="images/project04.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Разработка и внедрение KPI</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- End Project -->