<!-- Begin Services -->
<section id="services" class="services">
  <div class="services__wrap">
    <div class="services__left cfix">
      <div class="services-slider js-services">

        <!--  Slide 1 -->
        <div class="services-slider__item">
          <div class="title">
            <h2>Автоматизация 1C</h2>
          </div>
          <div class="services-slider__content">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
          </div>
          <ul class="services-list">
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr01.jpg" alt="">
                  </div>
                  <figcaption>Обучение и  развитие персонала Обучение и  развитие персонала Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr02.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr03.jpg" alt="">
                  </div>
                  <figcaption>Подбор
                  <br>персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr04.jpg" alt="">
                  </div>
                  <figcaption>Разработка системы мотивации</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr05.jpg" alt="">
                  </div>
                  <figcaption>Кадровое делопроизводство</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr06.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>

        <!-- Slide 2 -->
        <div class="services-slider__item">
          <div class="title">
            <h2>Бухгалтерское сопровождение</h2>
          </div>
          <div class="services-slider__content">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
          </div>
          <ul class="services-list">
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr01.jpg" alt="">
                  </div>
                  <figcaption>Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr03.jpg" alt="">
                  </div>
                  <figcaption>Подбор
                  <br>персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr04.jpg" alt="">
                  </div>
                  <figcaption>Разработка системы мотивации</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr05.jpg" alt="">
                  </div>
                  <figcaption>Кадровое делопроизводство</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr06.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>

        <!-- Slide 3 -->
        <div class="services-slider__item">
          <div class="title">
            <h2>Human Resource</h2>
          </div>
          <div class="services-slider__content">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
          </div>
          <ul class="services-list">
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr01.jpg" alt="">
                  </div>
                  <figcaption>Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr04.jpg" alt="">
                  </div>
                  <figcaption>Разработка системы мотивации</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr05.jpg" alt="">
                  </div>
                  <figcaption>Кадровое делопроизводство</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>

        <!--  Slide 4 -->
        <div class="services-slider__item">
          <div class="title">
            <h2>Интернет маркетинг и Аналитика</h2>
          </div>
          <div class="services-slider__content">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
          </div>
          <ul class="services-list">
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr01.jpg" alt="">
                  </div>
                  <figcaption>Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr02.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr03.jpg" alt="">
                  </div>
                  <figcaption>Подбор
                  <br>персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr04.jpg" alt="">
                  </div>
                  <figcaption>Разработка системы мотивации</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr05.jpg" alt="">
                  </div>
                  <figcaption>Кадровое делопроизводство</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr06.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>

        <!-- Slide 5 -->
        <div class="services-slider__item">
          <div class="title">
            <h2>Information technology</h2>
          </div>
          <div class="services-slider__content">
            <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
          </div>
          <ul class="services-list">
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr01.jpg" alt="">
                  </div>
                  <figcaption>Обучение и  развитие персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr02.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr03.jpg" alt="">
                  </div>
                  <figcaption>Подбор
                  <br>персонала</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr04.jpg" alt="">
                  </div>
                  <figcaption>Разработка системы мотивации</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr05.jpg" alt="">
                  </div>
                  <figcaption>Кадровое делопроизводство</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="sub-services.html" class="services-item">
                <figure class="services-item__figure">
                  <div class="services-item__pic">
                    <img src="images/hr06.jpg" alt="">
                  </div>
                  <figcaption>Экспресс-подбор персонала</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-control">
        <a href="#" class="services-control__arrow services-control__arrow--prev js-servicesPrev">
          <svg version="1.1" id="Layer_1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <polyline class="st0" points="19.3,3.4 36,20.2 19.3,36.9 "/>
            <rect x="2" y="19.2" class="st1" width="33.5" height="1.8"/>
          </svg>
        </a>
        <div class="services-control__content">
          <span class="services-control__curent js-servicesCurent">01</span>/
          <span class="services-control__length js-servicesLength">05</span>
        </div>
        <a href="#" class="services-control__arrow js-servicesNext">
          <svg version="1.1" id="Layer_1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <polyline class="st0" points="19.3,3.4 36,20.2 19.3,36.9 "/>
            <rect x="2" y="19.2" class="st1" width="33.5" height="1.8"/>
          </svg>
        </a>
      </div>
    </div>
    <ul class="services-nav js-servicesNav">
      <li>
        <span class="services-nav__pic">
          <img src="images/category01.jpg" alt="">
        </span>
        <span class="services-nav__overlay"></span>
        <span class="services-nav__content">Автоматизация 1C</span>
      </li>
      <li>
        <span class="services-nav__pic">
          <img src="images/category02.jpg" alt="">
        </span>
        <span class="services-nav__overlay"></span>
        <span class="services-nav__content">Бухгалтерское сопровождение</span>
      </li>
      <li>
        <span class="services-nav__pic">
          <img src="images/category03.jpg" alt="">
        </span>
        <span class="services-nav__overlay"></span>
        <span class="services-nav__content">Human Resource</span>
      </li>
      <li>
        <span class="services-nav__pic">
          <img src="images/category04.jpg" alt="">
        </span>
        <span class="services-nav__overlay"></span>
        <span class="services-nav__content">Интернет маркетинг и Аналитика</span>
      </li>
      <li>
        <span class="services-nav__pic">
          <img src="images/category05.jpg" alt="">
        </span>
        <span class="services-nav__overlay"></span>
        <span class="services-nav__content">Information technology</span>
      </li>
    </ul>
  </div>
</section>
<!-- End Services -->