<!-- Begin Services Inner -->
<div class="services-inner">
  <div class="services-inner__wrap">
    <div class="services-slider__content">
      <h2>Human Resource</h2>
      <p>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.  Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
    </div>
    <ul class="services-list">
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr01.jpg" alt="">
            </div>
            <figcaption>Обучение и  развитие персонала</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr02.jpg" alt="">
            </div>
            <figcaption>Экспресс-подбор персонала</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr03.jpg" alt="">
            </div>
            <figcaption>Подбор
            <br>персонала</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr04.jpg" alt="">
            </div>
            <figcaption>Разработка системы мотивации</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr05.jpg" alt="">
            </div>
            <figcaption>Кадровое делопроизводство</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="sub-services.html" class="services-item">
          <figure class="services-item__figure">
            <div class="services-item__pic">
              <img src="images/hr06.jpg" alt="">
            </div>
            <figcaption>Экспресс-подбор персонала</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Services Inner -->