<!-- Begin Sub-Services -->
<div class="sub-services js-tab">
  <div class="sub-services__wrap">
    <div class="sub-services__tabs">
      <ul class="tabs-list">
          <li class="tabs-list__item">Описание</li>
          <li class="tabs-list__item">Стоимость</li>
          <li class="tabs-list__item">Преимущества</li>
          <li class="tabs-list__item">Процесс работы</li>
          <li class="tabs-list__item">Из практики</li>
      </ul>
      <div class="tab-content">
        <div class="tab-content__item">
          <p>Создаем эффективную систему материального стимулирования и оплату труда ваших сотрудников, учитывая стратегические цели компании, специфику сферы бизнеса и интересы работников.</p>
          <br>
          <p>Важный блок в управлении всей Компанией и одна из составляющих успеха вашего бизнеса - правильно выстроенная система материального и нематериального труда сотрудников.</p>
          <br>
          <p>Если вы точно понимаете, за что ваши сотрудники получают зарплату, можете спокойно оценить их вклад в общее дело, уверены, что платите ни много, ни мало, а достойно, а ваши сотрудники спокойны, уверены и полны энтузиазма в выполнении своих задач, тогда вам повезло, в вашей компании работает специалист, который компетентен и действительно уделяет этому вопросу большое внимание, держит под постоянным контролем. Если хотя бы на один пункт из вышесказанного, вы не можете утвердительно ответить, обращайтесь к нам за консультацией!</p>
          <br>
          <p><b>Мы помогаем Заказчикам в рамках проекта по созданию системы стимулирования и оплаты труда сотрудников:</b></p>
          <br>
          <ol>
            <li>Сформулировать цели Компании;</li>
            <li>Определить ключевые показатели эффективности для компании в целом и для конкретного сотрудника, оценив при этом их вклад в общее дело, в итоговый результат вашей компании;</li>
            <li>Провести мониторинг для понимания среднерыночной зарплаты труда специалистов, исходя из вашей сферы бизнеса, масштаба компании;</li>
            <li>Создать документ, отражающий политику по материальному и нематериальному стимулированию сотрудников;</li>
            <li>Создать единую форму отчетности  с целью своевременного контроля работы сотрудника и для удобства расчета заработной платы, согласно разработанной;</li>
          </ol>
        </div>
        <div class="tab-content__item">Содержимое 2</div>
        <div class="tab-content__item">Содержимое 3</div>
        <div class="tab-content__item">Содержимое 4</div>
        <div class="tab-content__item">Содержимое 5</div>
      </div>
    </div>
    <aside class="sub-services__side">
      <div class="title">
        <h2>Другие проекты</h2>
      </div>
      <ul class="news-list">
        <li>
          <a href="project.html" class="news-small news-small--blue">
            <img src="images/project01.jpg" alt="">
            <span class="news-small__content">
              <span class="news-small__title">Обучение персонала</span>
            </span>
          </a>
        </li>
        <li>
          <a href="project.html" class="news-small news-small--blue">
            <img src="images/project02.jpg" alt="">
            <span class="news-small__content">
              <span class="news-small__title">Постороение системы мотивации</span>
            </span>
          </a>
        </li>
        <li>
          <a href="project.html" class="news-small news-small--blue">
            <img src="images/project03.jpg" alt="">
            <span class="news-small__content">
              <span class="news-small__title">Оценка персонала</span>
            </span>
          </a>
        </li>
        <li>
          <a href="project.html" class="news-small news-small--blue">
            <img src="images/project04.jpg" alt="">
            <span class="news-small__content">
              <span class="news-small__title">Разработка и внедрение KPI</span>
            </span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
</div>
<!-- End Sub-Services -->