<!-- Begin Team -->
<div class="team">
  <ul class="team__list">
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava01.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava02.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava03.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava04.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava01.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava02.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava03.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-item">
      <div class="team-item__photo">
        <img src="images/team-ava04.jpg" alt="">
      </div>
      <div class="team-item__title">
        <h2>Оксана Федорова</h2>
      </div>
      <div class="team-item__subtitle">
        <p>Должность человека на фото</p>
      </div>
      <div class="team-item__content">
        <p>Это пример текста, который вы можете добавить в данный блок. Короткая информация о сотруднике и особенностях его работы.</p>
      </div>
      <div class="team-item__social-wrap">
        <ul class="team-social">
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/facebook-icon.png" alt="facebook">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/googleplus-icon.png" alt="google plus">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/twitter-icon.png" alt="twitter">
            </a>
          </li>
          <li class="team-social__item">
            <a href="#" target="_blank">
              <img src="images/vk-icon.png" alt="vk">
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- End Team -->