<!-- Begin Whats New? -->
<section class="whats-new">
  <div class="mbox">
    <div class="title">
      <h2>Что нового?</h2>
    </div>
    <ul class="news-list">
      <li>
        <a href="news-inner.html" class="news-small">
          <img src="images/news05.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Дизайн-проект нового отеля</span>
            <span class="news-small__date">01.01.2014</span>
          </span>
        </a>
      </li>
      <li>
        <a href="news-inner.html" class="news-small">
          <img src="images/news06.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Дизайн-проект нового отеля</span>
            <span class="news-small__date">01.01.2014</span>
          </span>
        </a>
      </li>
      <li>
        <a href="news-inner.html" class="news-small">
          <img src="images/news02.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Дизайн-проект нового отеля</span>
            <span class="news-small__date">01.01.2014</span>
          </span>
        </a>
      </li>
      <li>
        <a href="news-inner.html" class="news-small">
          <img src="images/news03.jpg" alt="">
          <span class="news-small__content">
            <span class="news-small__title">Дизайн-проект нового отеля</span>
            <span class="news-small__date">01.01.2014</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- End Whats New? -->