<!-- Begin Why? -->
<section class="why">
  <div class="mbox">
    <h2>Почему Атолл?</h2>
    <br>
    <h3>Потому что этот живой организм характеризует нашу компанию!</h3>
    <br>
    <ul>
      <li>основание Атолла это вершина подводного вулкана, в нашем случае это энергия и активная жизненная позиция</li>
      <li>каркас Атолла это коралловый риф, живой организм, в нашем случае это прочная конструкция сложенная из знаний, компетенций и жизненного опыта нашей команды</li>
      <li>форма Атолла - круг, это наша сплоченность и четкое взаимодействие на всех уровнях</li>
      <li>внутри Атолла лагуна – это наш креатив, драйв, инициатива, это наши проекты</li>
      <li>лагуна Атолла соединяется через несколько проливов с океаном – это наша связь с рынком, нашими партнерами, это живые реки постоянного взаимодействия.</li>
    </ul>
    <br>
    <p>Внутри и снаружи атолла постоянно идет жизнь он находится в постоянном взаимодействии с внешней средой, так и мы изменяемся к лучшему, учимся чему-то новому и благодаря накопленному опыту, знаниям и умениям, помогаем нашим партнерам приобрести то, чего им недостает, стать лучше и сильнее!</p>
  </div>
</section>
<!-- End Why? --> 